<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Save Our Saves!</title>

		<link rel="stylesheet" href="style.css" />
		<script src="vue.js"></script>
	</head>
	<body>
		<div id="app">
			<div class="center">
				<h1>Save Our Saves</h1>
				<strong>
					<!-- very good webdev -->
					The browser needs to be closed.
					<br />Most saves aren't saves you can<br />just import, you
					might need to edit<br />them in via devtools.
				</strong>
				<br /><br />

				Browser:
				<select v-model="browser">
					<option value="none" disabled selected>
						Please choose a browser
					</option>
					<optgroup label="Windows">
						<option value="windows,edge">Edge</option>
						<option value="windows,opera">Opera</option>
						<option value="windows,brave">Brave</option>
						<option value="windows,chrome">Chrome</option>
						<option value="windows,vivaldi">Vivaldi</option>
						<option value="windows,operagx">Opera GX</option>
					</optgroup>
					<optgroup label="macOS">
						<option value="mac,edge">Edge</option>
						<option value="mac,brave">Brave</option>
						<option value="mac,opera">Opera</option>
						<option value="mac,chrome">Chrome</option>
						<option value="mac,vivaldi">Vivaldi</option>
						<option value="mac,operagx">Opera GX</option>
					</optgroup>
					<optgroup label="Linux">
						<option value="linux,brave">Brave</option>
						<option value="linux,opera">Opera</option>
						<option value="linux,chrome">Chrome</option>
						<option value="linux,vivaldi">Vivaldi</option>
					</optgroup>
				</select>
				<br />
				URL: <input type="text" v-model="url" /><br /><br />
				<button id="save" @click="save()">Save!</button>

				<div v-if="out">
					<button
						class="copy-btn"
						v-for="(val, key) in out"
						@click="copyToClipboard(val)"
					>
						Copy {{ key }} save
					</button>
				</div>
			</div>
		</div>
	</body>
</html>
