@import url("https://rsms.me/inter/inter.css");
html {
	font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
	html {
		font-family: "Inter var", sans-serif;
	}
}

h1 {
	text-align: center;
}

* {
	background-color: #223;
	color: #edd;
	user-select: none;
}

.center {
	position: absolute;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
}

button, input, select {
	background-color: #112;
	border: solid thin #edd;
}

#save {
	width: 250px;
	height: 50px;
	font-size: 25px;
	border-radius: 15px;
}

.copy-btn {
	display: block;
}